**/*
!README.md
!.gitignore
!.config
!.config/alsa/*
!.config/bspwm/*
!.config/ccache/*
!.config/dunst/*
!.config/fish/*
!.config/git/*
!.config/newsboat/*
!.config/nvim/
!.config/nvim/*
!.config/polybar/*
!.config/python/
!.config/python/*
!.config/rofi/*
!.config/sxhkd/*
!.config/tmux/*
!.config/wget/*
!.local/bin
!.local/bin/*
